@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="p-5 container-fluid w-100 row">
    
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="new" class="btn p-2 w-100 btn-state active active-btn" data-state="1">
            <h5 class="fw-semibold m-0 my-2"> <i class="fa-solid fa-circle-exclamation"></i> NEW</h5>
                <h3 class="fw-bold">@ViewBag.NewCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="pending" class="btn p-2 w-100 btn-state" data-state="3">
                <h5 class="fw-semibold m-0 my-2"><i class="fa-solid fa-user-doctor"></i> PENDING</h5>
                <h3 class="fw-bold">@ViewBag.PendingCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="active" class="btn p-2 w-100 btn-state" data-state="2">
            <h5 class="fw-semibold my-2"> <i class="fa-regular fa-circle-check"></i> ACTIVE</h5>
                <h3 class="fw-bold">@ViewBag.ActiveCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="conclude" class="btn p-2 w-100 btn-state" data-state="4">
            <h5 class="fw-semibold my-2"><i class="fa-regular fa-clock"></i> CONCLUDE</h5>
                <h3 class="fw-bold">@ViewBag.ConcludeCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="toclose" class="btn p-2 w-100 btn-state" data-state="5">
            <h5 class="fw-semibold my-2"><i class="fa-regular fa-circle-xmark"></i> TO CLOSE</h5>
                <h3 class="fw-bold">@ViewBag.ToCloseCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="unpaid" class="btn p-2 w-100 btn-state" data-state="6">
            <h5 class="fw-semibold my-2"><i class="fa-solid fa-money-check-dollar"></i> UNPAID</h5>
                <h3 class="fw-bold">@ViewBag.UnpaidCount</h3>
            </div>
        </div>
    
    <div class="mt-4 d-flex flex-row justify-content-between">

        <div>
            <h4>Patients  </h4>
        </div>
        <div>
            <div class="btn btn-info text-white" >
                <i class="fa-regular fa-share-from-square"></i>
                <span class="top-btn p-2">
                    send link
                </span>
            </div>
            <div class="btn btn-info text-white">
                <i class="fa-solid fa-file-pen"></i>
                <span class="top-btn p-2">
                    Create Request
                </span>

            </div>
            <div class="btn btn-info text-white">
                <i class="fa-solid fa-arrows-turn-right"></i>
                <span class="top-btn p-2">
                    export
                </span>

            </div>
            <div class="btn btn-info text-white">
                <i class="fa-solid fa-file-export"></i>
                
                <span class="top-btn p-2">
                    export all
                </span>

            </div>
            <div class="btn btn-info text-white">
                <i class="fa-solid fa-circle-question"></i>
                <span class="top-btn p-2">
                    Request DTY Support
                </span>

            </div>
        </div>
    </div>
    <div class="row ps-2 mb-lg-0 ">
        <div class="row col-xl-6">
            <div class="col-sm-6">
                <input id="search-input" class="form-control p-2 mt-3 px-4 mb-3 w-100" type="text"
                       placeholder='Search Patients'>
            </div>
            <div class="col-sm-6">
                <div class="">
                    <select class="p-2 mt-3 px-4 form-control mb-3 w-100 " id="regionsearch">
                        <option>All Region</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-xl-6 d-flex justify-content-xl-end justify-content-center gap-2 gap-sm-3 gap-xl-4 p-0">
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="0">
                <span> All </span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="1">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #60bc60;"></div><span>Patient</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="2">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #ee9125;"></div>
                <span>Family/Friend</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="4">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #e36478;"></div><span>Business</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="3">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #007fc7;"></div><span>Concierge</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="5">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #943db8;"></div><span>VIP</span>
            </div>
        </div>
    </div>
    <div id="data-table">
        
    </div>
    <partial name="_CancelCase" />

</section>
@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      
            var state = "1"; // Variable to store the selected state
            var requesttype = 0;
        $(document).ready(function () {
            // Event handler for state buttons
            filterData(state, requesttype);
            $(".btn-state").click(function () {
                state = $(this).data("state");
                filterData(state, requesttype);
            });

            // Event handler for request type buttons
            $(".request-type-btn").click(function () {
                var requesttype = $(this).data("requesttype");
                filterData(state, requesttype);
            });
        });

        function filterData(state, requesttype) {
            $.ajax({
                url: '/Dashboard/GetRequestTable',
                type: 'GET',
                data: { state: state, requesttype: requesttype },
                success: function (data) {
                    $('#data-table').html(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                }
            });
        }
   
        $(document).ready(function () {
            
            $(".btn-state").click(function () {
                
                $(".btn-state").removeClass("active");

                $(this).addClass("active");
            });
        });
    
        document.addEventListener('click', function (e) {
            if (e.target.tagName === 'BUTTON') {
                e.target.style.outline = 'none';
                // Add any other styles you want to remove default decoration
            }
        });

    
        $(document).ready(function () {
            $("#search-input").on("input", function () {
                var searchText = $(this).val().toLowerCase();
                filterTable(searchText);
            });
        });

        function filterTable(searchText) {
            $("#data-table tbody tr").each(function () {
                var rowText = $(this).find("#PatientName").text().toLowerCase();
                if (rowText.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        }
   
        var cancel = document.getElementsByClassName("cancelpopup")
        for (var i = 0; i < cancel.length; i++) {
            cancel[i].addEventListener("click", function () {
                alert("hello");
                const myModal = new bootstrap.Modal('#cancelmodal');
                myModal.show();
            })
        }
        
    </script>

}

